@model Category
@{
    ViewData["Title"] = "Create";
}

<h1>Add Category</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-md-2">Name</label>
        <div class="col-md-10">
            <input class="form-control" type="text" asp-for="Name" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Image</label>
        <div class="col-md-10"><input class="form-control" type="file" name="f" /></div>
    </div>

    <div class="col-md-10">
        <button>Save</button>
    </div>
</form>

