@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>


@if (User.IsInRole("Administrator"))
{
    <a href="/category/create" class="btn btn-primary"> Create </a>

}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <a href="/product/productsbycategory/@item.Id">
                <img height="250" width="250" src="~/images/@item.ImageUrl" />
            </a>
            <h2>
                <a style="text-align: center" href="/product/productsbycategory/@item.Id">@item.Name</a>
            </h2>
            @if (User.IsInRole("Administrator"))
            {
                <ul>
                    <li> <a href="/category/edit/@item.Id" > Edit </a></li>
                    <li class="del"> <a href="/category/delete/@item.Id" > Remove </a></li>
                </ul>

            }

        </div>
    }
</div>

<script type="text/javascript">
    $('.del').click(function () {
        return confirm('Are you sure delete?');
    });
</script>


