
@{
    ViewData["Title"] = "AddMembers";
}

<h1>Add Members</h1>
<form method="post">
    <input type="date" name="dated" />
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
        <tbody>
            <tr>
                <td><input type="text" name="username" /></td>
                <td><input type="text" name="password" /></td>
                <td><input type="text" name="email" /></td>
                <td>
                    <select name="gender">
                        <option value="false">Male</option>
                        <option value="true">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="username" /></td>
                <td><input type="text" name="password" /></td>
                <td><input type="text" name="email" /></td>
                <td>
                    <select name="gender">
                        <option value="false">Male</option>
                        <option value="true">Female</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><input type="text" name="username" /></td>
                <td><input type="text" name="password" /></td>
                <td><input type="text" name="email" /></td>
                <td>
                    <select name="gender">
                        <option value="false">Male</option>
                        <option value="true">Female</option>
                    </select>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><button>Save</button></td>
            </tr>
        </tfoot>
    </table>
</form>

