@model Role
@{
    ViewData["Title"] = "Create";
}
<h2>Add Role</h2>
<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <button>Save</button>
    </div>
</form>

