@model List<Product>
@{
    ViewData["Title"] = "ProductsByCategory";
}

<h1>@ViewBag.CategoryName</h1>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <a href="/product/detail/@item.Id">
                <img height="150" src="~/images/@item.ImageUrl" />
            </a>
            <h2><a style="text-align: center" href="#">@item.Name</a></h2>
        </div>
    }
</div>

